[search]
screen_name:Caltrain_News
# Comma-separated list of search terms
search_terms:000

[settings]
number_tweets_to_retrieve:10

# Create your app on http://apps.twitter.com
[twitter]
consumer_key:
consumer_secret:
access_token:
access_token_secret:
