[settings]
number_tweets_to_retrieve:10
screen_name:Caltrain_News
search_terms:000

# Create your app on http://apps.twitter.com
[twitter]
consumer_key:
consumer_secret:
access_token:
access_token_secret:
